---
pagetitle: Fisk-tv
pagesubtitle: Slow tv på djupet
footer: !cat partial/footer.html
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ pagetitle }}&mdash;{{ pagesubtitle }}">
    <title>{{ pagetitle }}: {{ pagesubtitle }}</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <div id="raybox">
      <div class="rays rays1"></div>
      <div class="rays rays2"></div>
    </div>

    <div id="content">
      <img src="img/fisktv-logo.png" alt="fisktv">
      <p>Fisk-tv är slow tv med en unik möjlighet att följa livet på djupet. Live, dygnet runt, och med chans att se många olika arter.</p>
      <p>Live-vy håller på att förberedas. Under tiden, kolla gärna in följande längre inspelning:<p>
      <video controls id="recording" width="400">
        <source src="video/fisktv-recording.mp4" type="video/mp4">
      </video>      
      <!--
      <div id="countdown">
        <p><span id="days">0</span><br>dagar</p>
        <p><span id="hours">0</span><br>timmar</p>
        <p><span id="minutes">0</span><br>minuter</p>
        <p><span id="seconds">0</span><br>sekunder</p>
      </div>
      <button id="button-trailer" onclick="showTrailer()">Visa trailer</button>
      <video id="trailer" width="400" onclick="hideTrailer()">
        <source src="video/fisktv-trailer.mp4" type="video/mp4">
      </video>
      -->
    </div>

    <script>

setTimeout(function() {
  document.getElementById("recording").play();
}, 2000);


//document.getElementById("recording").style.height = "320px";
//document.getElementById("recording").play();
    /*
const countDownDate = new Date("May 06, 2024 13:00:00").getTime();

function updateCounter() {
  const now = new Date().getTime();
  const distance = countDownDate - now;

  const days = Math.floor(distance / (1000 * 60 * 60 * 24));
  const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  const seconds = Math.floor((distance % (1000 * 60)) / 1000);

  document.getElementById("days").innerHTML = days;
  document.getElementById("hours").innerHTML = hours;
  document.getElementById("minutes").innerHTML = minutes;
  document.getElementById("seconds").innerHTML = seconds;

  if (distance < 0) {
    return 1;
  }
  return 0;
}

updateCounter();

let counter = setInterval(function() {
  if (updateCounter()) {
    clearInterval(counter);
  }
}, 1000);

function showTrailer() {
  document.getElementById("button-trailer").style.display = "none";
  document.getElementById("trailer").style.height = "320px";
  document.getElementById("trailer").play();
}

function hideTrailer() {
  document.getElementById("trailer").style.height = "0px";
  document.getElementById("button-trailer").style.display = "block";
}

document.getElementById('trailer').addEventListener('ended', hideTrailer);

setTimeout(function() {
  document.getElementById("button-trailer").style.visibility = "visible";

  setInterval(function() {
    document.getElementById("button-trailer").style.boxShadow = "#f3f5fe 0px 0px 0px";
    setTimeout(function() {
      document.getElementById("button-trailer").style.boxShadow = "#f3f5fe 0px 5px 15px";
    }, 1000);
  }, 2000);

}, 5000);
*/
    </script>
  </body>
</html>
