@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin 0;
  background-color: #051964;
  color: #f3f5fe;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
}

@media (max-width: 780px) {
  body {
    font-size: 0.8rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: #6fbef3;
  padding-bottom: 0.2em;
  border-bottom: 1px solid #999;
  font-family: 'Roboto Condensed', sans-serif;
}

dl {
  display: flex;
  flex-wrap: wrap;
}

dt {
  width: 7%;
  margin-top: 1em;
}

dd {
  margin-left: auto;
  width: 93%;
  margin-top: 1em;
}

pre {
  border: 1px solid #999;
  background-color: #eee;
  padding: 1em;
}

p code {
  padding-left: 0.3em; 
  padding-right: 0.3em; 
  background-color: #eee;
}

blockquote {
  margin: 14px 0px;
  padding: 0px 40px;
  border-left: 0.3em solid #eee;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  margin: 0px;
  padding: 0.5em;
  border: 1px solid #999;
}

th {
  border-bottom: 2px solid #999;
  background-color: #eee;
}

img.inline {
  max-width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer {
    background: #111;
    width: 100%;
    margin-top: 3em;
}

div#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100%;
}

div#content p {
  font-size: 2.0rem;
  max-width: 600px;
  width: 80%;
  line-height: normal;
  text-align: center;
}

div#countdown {
  display: flex;
  justify-content: space-evenly;
  max-width: 600px;
  width: 80%;
}

div#countdown p {
  font-size: 1.2rem;
  text-align: center;
  padding: 5px;
}

div#countdown p span {
  font-size: 3.0rem;
  font-weight: bolder;
}

button#button-trailer {
  background-color: #f3f5fe;
  color: #051964;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  visibility: hidden;
  margin-top: 32px;
  box-shadow: #f3f5fe 0px 0px 0px;
  transition: box-shadow 1s;
}

video#trailer {
  margin: 50px;
  height: 0px;
  transition: height 1s;
}

video#recording {
  margin: 50px;
  height: 320px;
}

div#raybox {
  position: absolute; 
  left: -50%;
  top: 0;
  overflow: hidden;
  pointer-events: none;
  width: 150%;
  height: 200%;
}

div.rays {
  position: absolute; 
  top: 0;
  background-image: url("img/rays.webp");
  background-repeat: no-repeat;
  background-position: top center;
  width: 2782px;
  height: 1920px;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rays1 {
  0% {left: 0px;}
  25% {left: -10px;}
  50% {left: 0px;}
  75% {left: 10px;}
  100% {left: 0px;}
}

@keyframes rays2 {
  0% {left: 0px;}
  33% {left: 90px;}
  50% {left: 0px;}
  66% {left: -90px;}
  100% {left: 0px;}
}

div.rays1 {
  animation-name: rays1;
  animation-duration: 8s;
  opacity: 0.8;
}

div.rays2 {
  animation-name: rays2;
  animation-duration: 9s;
  opacity: 0.3;
}
