---
pagetitle: FiskTV
pagesubtitle: Slow tv på djupet
footer: !cat partial/footer.html
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ pagetitle }}&mdash;{{ pagesubtitle }}">
    <title>{{ pagetitle }}&mdash;{{ pagesubtitle }}</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/pure-min.css" integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    {{{ content }}}

    {{{ footer }}}

  </body>
</html>
